body {
background-color:black;
font-family: Arial;
color: white;
}
h1{color:black;
font-family: Verdana;}

.maindiv{
background-color: grey;
color:white;
width: 600px;
padding: 20px;
border-radius: 30px;
margin: 0 auto;
}


